---
import Layout from "../layouts/Layout.astro";

const title = "Contact | Thiruna";
---

<Layout title={title}>
    <div
        id="contact"
        class="max-w-5xl mx-auto px-5 sm:px-6 lg:px-8 mt-10 overflow-x-hidden"
    >
        <div>
            <h3 class="text-3xl mb-3">Contact</h3>
            <p class="text-md">
                If you'd like to get in touch, you can reach me using the
                following methods.
            </p>
        </div>

        <!-- Contact grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mt-8">
            <!-- Row 1 -->
            <div class="p-4 lg:p-0">
                <div class="font-semibold text-gray-800 dark:text-gray-200">
                    Email
                </div>
                <div class="text-gray-600 dark:text-gray-400">
                    thiruna.developer@gmail.com
                </div>
            </div>

            <div class="p-4 lg:p-0">
                <div class="font-semibold text-gray-800 dark:text-gray-200">
                    Twitter
                </div>
                <div class="text-gray-600 dark:text-gray-400">
                    @/Thiruna71130029
                </div>
            </div>

            <!-- Row 2 -->
            <div class="p-4 lg:p-0">
                <div class="font-semibold text-gray-800 dark:text-gray-200">
                    GitHub
                </div>
                <div class="text-gray-600 dark:text-gray-400">
                    git/Thirunavukkarasu-developer
                </div>
            </div>

            <div class="p-4 lg:p-0">
                <div class="font-semibold text-gray-800 dark:text-gray-200">
                    LinkedIn
                </div>
                <div class="text-gray-600 dark:text-gray-400">
                    in/thiruna-developer
                </div>
            </div>
        </div>
    </div>
</Layout>
