---

---

<div id="container">
	<h1 class="text-3xl font-bold text-green-600">HeroSection</h1>
	<h1 class="font-sans text-lg font-medium">Hello, I'm using Roboto!</h1>
	<h1 class="font-mono text-lg font-medium">Hello, I'm using Roboto Mono!</h1>
</div>
