---

---

<div id="heroSection" class="max-w-5xl mx-auto px-5 sm:px-6 lg:px-8 overflow-x-hidden">
  <div class="grid grid-cols-12 gap-4 md:gap-6 lg:gap-8 my-2 md:my-4">
    <!-- Left Column -->
    <div class="col-span-12 lg:col-span-8">
      <div class="space-y-8 md:space-y-10">
        <div class="flex-1 flex flex-col gap-5 md:gap-8">
          <h1 class="text-3xl md:text-5xl font-medium font-sans">E. Thirunavukkarasu</h1>
          <h2 class="text-md md:text-xl lg:text-xl font-medium md:-mt-4 lg:-mt-2 ">
            UI & UX | Web & Mobile Developer &#123;Full Stack&#125;
          </h2>
          <h3 class="text-sm md:text-xl font-medium leading-8 lg:leading-10">
            I’m a Senior Software Developer specializing in building fast, modern web and
            mobile apps using React, Node.js, and TypeScript.
          </h3>
        </div>

        <div class="flex flex-wrap items-center gap-6 md:gap-10 font-medium">
          <!-- Github -->
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 md:w-6 md:h-6" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.0002 22.0268V18.1568C15.0377 17.68 14.9733 17.2006 14.8112 16.7506C14.6491 16.3006 14.3931 15.8902 14.0602 15.5468C17.2002 15.1968 20.5002 14.0068 20.5002 8.54679C20.4999 7.15062 19.9629 5.80799 19.0002 4.79679C19.4561 3.5753 19.4238 2.22514 18.9102 1.02679C18.9102 1.02679 17.7302 0.676793 15.0002 2.50679C12.7082 1.88561 10.2922 1.88561 8.0002 2.50679C5.2702 0.676793 4.0902 1.02679 4.0902 1.02679C3.57657 2.22514 3.54434 3.5753 4.0002 4.79679C3.03033 5.81549 2.49272 7.17026 2.5002 8.57679C2.5002 13.9968 5.8002 15.1868 8.9402 15.5768C8.6112 15.9168 8.35746 16.3222 8.19551 16.7667C8.03355 17.2112 7.96701 17.6849 8.0002 18.1568V22.0268M8.0002 19.0268C3.0002 20.5268 3.0002 16.5268 1.0002 16.0268L8.0002 19.0268Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="text-xl md:text-2xl">Github</span>
          </div>

          <!-- LinkedIn -->
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 md:w-6 md:h-6" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 7C16.5913 7 18.1174 7.63214 19.2426 8.75736C20.3679 9.88258 21 11.4087 21 13V20H17V13C17 12.4696 16.7893 11.9609 16.4142 11.5858C16.0391 11.2107 15.5304 11 15 11C14.4696 11 13.9609 11.2107 13.5858 11.5858C13.2107 11.9609 13 12.4696 13 13V20H9V13C9 11.4087 9.63214 9.88258 10.7574 8.75736C11.8826 7.63214 13.4087 7 15 7Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M5 8H1V20H5V8Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M3 5C4.10457 5 5 4.10457 5 3C5 1.89543 4.10457 1 3 1C1.89543 1 1 1.89543 1 3C1 4.10457 1.89543 5 3 5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="text-xl md:text-2xl">LinkedIn</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="col-span-12 lg:col-span-4 border border-gray-300 rounded p-4 mt-6 lg:mt-0">
      <div class="flex-1 flex items-center justify-center">Right side</div>
    </div>
  </div>
</div>
