---
import BlogSection from "./BlogSection.astro";
import ContactSection from "./ContactSection.astro";
import HeroSection from "./HeroSection.astro";
import ProjectSection from "./ProjectSection.astro";
---

<div class="space-y-28 pt-14">
    <HeroSection />
    <ProjectSection />
    <BlogSection />
    <ContactSection />
</div>
