---

---

<div id="footer" class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 mt-24 mb-40 font-mono">
  <div class="flex items-center justify-center">
    &copy; 2025 — Thanks for visiting!
  </div>
</div>
